

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divforproducts{
    
    padding: 10px;
    min-width: 350px;
    margin-bottom: 50px;
    text-align: center;
    display: inline-block;
    position: static;
}
.div1{
    
    padding-top: 50px;
    font-family:'open sans';
    font-size: large;
    padding-bottom: 50px;
    margin: 200px;
    position:relative;
    color: black;
    background-color: #efdcc3;
    border-radius:50px;
    border: 2px solid ;
    }

.maindiv{
    padding-left: 210px;
}
body{
    padding: 0;
    margin: 0;
    background-image: url(https://previews.123rf.com/images/artemstepanov/artemstepanov1809/artemstepanov180900254/110163550-hand-drawn-music-notes-vector-endless-background-musical-seamless-pattern-with-note-icons.jpg);
    
}

.q{
    width: 34px;
    margin-bottom: 10px;
}

.detailsforuser{
    margin-left: 350px;
    
    margin-top: 50px;
}
.detailsforuser input{
    margin-left: 7em;
    border: 1px solid rgb(71, 27, 1);
    border-radius: 8px;
    margin-bottom: 10px;
    width: 40%;
    background-color: chocolate;
}
.detailsforuser label{
    position: absolute;
    color: black;
}

.order{
    padding-bottom: 250px;
}



table{
    margin-left: 500px;
}

#divforinvoice{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 30px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
}
#span{
    color: white;
}

#orderbtn{
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 8px;
    padding: 6px;
    transition: 0.3s;
}

#orderbtn:hover{
    background-color: red;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button{
    font-size:13px;
    border-radius: 8px;
    padding: 6px;
    vertical-align: middle;
    transition-duration: 0.3s;
}

.button:hover{
    background-color: #000000; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

hr{
    border-top: 3px solid chocolate;
}

#txtmail,#txtname{
    height: 27px;
}


