 

body{
            background-image:url(../OtherImages/start.jpeg);
        }



    .heading{
            font: 20px Lucida Handwriting;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 10px;
    }
    .details{
        margin-left:70px;
	    margin-right:40px;
        

    }
    .student{
        position:relative;
        float: left;
        padding-right: 70px;
        padding-bottom: 50px;
        border-style: solid;
        border-radius: 10px;
    }
    #studentImg {
        border-radius: 8px;
        border-style: groove;
        width: 210px;
        height: 300px;
        margin-left: 20%;
        margin-top: 30px;    
    }
    .info{
        position:relative;
        top:30px;
        left:25px;
        bottom:80px;
        background: black;
        color:white;
        margin-bottom: 5px;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity o.5s linear;
    }
    .student:hover .info{
        width: 200px;
        padding: 8px 15px;
        visibility: visible;
        opacity: 0.7;
    }

    