body{
    background-image:url(../OtherImages/start.jpeg);
}
#heading{
    font: 50px Lucida Handwriting;
    text-align: center;
   
    
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: groove;
    background-color: rgb(224, 178, 118);
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    margin-top:0;
    
}
.profilePic{
    float: left;
    height:470px;
    width:450px;
    border: solid thin;
    margin:50px 50px 75px 25px;
    border-radius: 8px;
}
.profileIntro{
    color: black;
    background-color:bisque; 
    height:470px;
    width:450px;
    margin:50px 50px 75px 25px;
    border-radius: 8px;
    padding-left: 50px;
    padding-top: 10px;
    border: solid thin;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
.introduction{
    font-size: 40px;
    font-style: italic ;
}
.name{
    font:oblique bold;
}
.icons img{
    padding: 0 10px 0 20px ;
}
.tasks{
	list-style-type:square;
}
.mailLink{
    font-style: italic;
    padding: 0 10px 0 0;
    font-family: 'Times New Roman', Times, serif;
}