

/*--------------------------------------------------Quiz Style sheet-----------------------------------------------------*/


	body{
        background-image:url(../OtherImages/Back.jpeg);
        font-family:Arial, Helvetica, sans-serif;
       
        
}
    .quiz{
        background-color: gray;
	    background-image: linear-gradient(to left,rgb(71, 70, 71),rgb(114, 113, 114),white);
        margin-left:15%;
	    margin-right:15%;
	    border: thick solid black;
        border-radius:50px ;
        padding-left: 2%;
		color:black;
}
	.title{
        font: 35px Lucida Handwriting;
		color:black;
		text-align:center;
		padding-bottom:0;
        padding-top: 0;
	}
    
    #timer{
        position: fixed;
        right: 17%;
        bottom:70px;
        border: 2px solid black;
        color:rgb(12, 4, 43);
        font:24px Brush script MT ;
        background-color: white;

    }
    .questions{
        font: 18px Georgia;
        padding-left: 5%;
        

    }
    .button{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 30px;
        position: relative;
		float:left;
        color: #000;
		margin-left:200px;
        background-color: lightcoral;

    }
	.button:hover{
		background-color: #555555;
		color: white;
		font-size: 32px;
		
	}
    
    .resultsQ{
        border-style: groove;
        border-radius: 30px;
        background-color:black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: red;
        width: 820px;
        height:100px;
        
    }
    #resultsT{
        font: 25px bold sans-serif;
        color:white;
        text-align: center;
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    #results{
        text-align: center;
        color: red;
    }
	#resultsInfo{
        text-align: center;
        color: red;
    }